ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.horizontal-slide li a:hover {
	background-color:red; 
	color:#FFF;
}

.highlight {
	background-color:yellow;
}

ul.horizontal-slide li[class*="span"] {
    display: block;
    float: none;
}
/*
ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}*/
